.Contact {
    margin-top: 2700px;
    width: 100%;
    background-color: var(--accent-clr-orange);
    padding: 50px 0;
    z-index: 1050;

    h2 {
        font-weight: 200;
        font-size: 64px;
        margin-bottom: 50px;
    }
}