@import './breakpoints.scss';

.Home {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 1400px;
    padding: 150px 0;

    @include lg {
        padding: 100px 0;
    }
    
    @include md {
        padding: 75px 0;
    }

    @include sm {
        flex-direction: column;
        padding: 100px 0;
    }
    
    @include xs {
        flex-direction: column;
        padding: 75px 0;
    }

    .info-container {
        margin: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include md {
            margin: 40px;
        }
        
        @include sm {
            margin: 25px;
        }
        
        @include xs {
            margin: 15px;
        }

        .hello {
            font-size: 72px;
            font-weight: 100;

            @include lg {
                font-size: 64px;
            }

            @include md {
                font-size: 56px;
            }

            @include sm {
                font-size: 48px;
            }

            @include xs {
                font-size: 32px;
            }
        }

        .name {
            font-size: 72px;
            margin-bottom: 2%;

            @include lg {
                font-size: 64px;
            }

            @include md {
                font-size: 56px;
            }

            @include sm {
                font-size: 48px;
            }
            
            @include xs {
                font-size: 32px;
            }

            span {
                cursor: default;
            }
        
            .letter {
                color: var(--dark-clr);
                transition: 200ms;
        
                &:hover {
                    color: var(--accent-clr);
                }
            }
        }
        
        .info {
            // font-family: "Archivo";
            max-width: 1000px;
            font-size: 28px;
            font-weight: 300;
            padding: 0 15%;

            @include lg {
                padding: 0;
            }

            @include md {
                padding: 0;
            }

            @include sm {
                font-size: 24px;
                padding: 0;
            }

            @include xs {
                font-size: 20px;
                padding: 0;
            }
        }

    }

    .gradient-img {
        width: 30%;
        aspect-ratio: 1;
        border-radius: 100%;
        margin: 50px;
        // transform: translateY(25%);
        transition: 200ms ease-in-out;

        @include lg {
            margin: 40px;
        }

        @include md {
            margin: 25px;
        }

        @include sm {
            margin: 15px;
            width: 70%;
        }
        
        @include xs {
            margin: 15px;
            width: 80%;
        }

        &:hover {
            // transform: translateY(25%) scale(1.1);
            transform: scale(1.1);
            box-shadow: 0px 0px 100px 25px rgba(0, 0, 0, 0.205);
        }
    }
}



