@import './breakpoints.scss';

.ProjectInfo {

    transform: translateY(-10%);

    @include md {
        transform: translateY(0%);
    }

    a {
        text-decoration: none;
    
        h3 {
            font-family: "Archivo";
            font-weight: 700;
            color: var(--accent-clr);
            font-size: 54px;
            margin-bottom: 25px;
            transition: 200ms ease-in-out;

            @include lg {
                font-size: 48px;
            }

            @include md {
                font-size: 42px;
            }

            @include sm {
                font-size: 36px;
            }

            @include xs {
                font-size: 28px;
            }
        }

        &:hover h3 {
            transform: scale(1.05);
        }
    }

    p {
        font-size: 20px;
        margin-bottom: 25px;

        @include lg {
            font-size: 18px;
        }

        @include sm {
            font-size: 16px;
        }

        @include xs {
            font-size: 14px;
        }
    }

    .btn-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .page-link,
        .source-code-link {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 600;
            color: var(--accent-clr);
            border: 3px solid var(--accent-clr);
            padding: 7px 10px;
            border-radius: 1000px;
            transition: 200ms ease-in-out;

            @include lg {
                font-size: 16px;
            }

            @include md {
                font-size: 18px;
            }

            @include sm {
                font-size: 16px;
            }

            @include xs {
                font-size: 12px;
            }

            &:hover {
                background-color: var(--accent-clr);
                color: var(--background-clr);
            }
        }
    }
}